body {
    background-color: #131313;
    color: white;
}

h1 {
    color: #FF5733;
}
p { 
    
    line-height: 1.25;
    margin-bottom: 1em;
}

/* раскоментируйте этот блок для второй части урока 
div { /dis
    outline: 1px solid orange;
}
*/
.first {
    color: navy;
    font-weight: bold;
    border-left: 5px solid beige;
}


